@import "common";
body {
  margin-bottom: 0 !important;
}
.q-layout--standard {
  min-height: 720px !important;
}
.folder-list {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  .folder {
    @extend .flex-column-center;
    @extend .font-bold;
  }
}
