// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #a166ef;
$secondary : #9fa2a8;
$accent    : #e951b1;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
@import '~quasar-variables-styl';


$bg-secondary: #fafafa;

:export {
  bg-secondary: $bg-secondary;
  primary: $primary;
}
